.tip-amount {
  padding-bottom: 35px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 35px;
}

.tip-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 35px;
}

.label {
  font-size: 0.875rem;
  text-align: right;
}

.dollars {
  font-size: 5rem;
}

.tip-amount sup {
  font-size: 3rem;
}
